{% extends "base.html" %}
{% load static %}
{% block content %}
	
<section style="background-color: #49D292" class="probootstrap-section probootstrap-section-colored">
    <div class="container">
       <div class="row">
          <div class="col-md-12 text-left section-heading probootstrap-animate">
             <h1 class="mb0">Admission Process</h1>
           </div>
        </div>
    </div>
</section>

<section class="probootstrap-section probootstrap-section-sm" style="border: 0px solid black; color: black">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row probootstrap-gutter0">

                <div class="col-md-7 col-md-push-1  probootstrap-animate" id="probootstrap-content">
                	<h3>Admission Criteria</h3>
                  <p>
                  	Each New World I-Scholar applicant is considered based upon a well-rounded review of prior report cards, test scores, and teacher recommendations; however, at the most basic level, admission to New World I-Scholars requires the applicant to meet the following criteria:
                  </p>

                  <ul>
                  	<li><b>Assessments:</b></li>
                   
	                All preschool applicants for whom we have seats reserved will be scheduled for a preschool readlines interview on the early learning goals. Full acceptance is issued only after successful completion of this interview. <br><br>

	                All students in Nursery 2-5 will be scheduled placement tests and admiaaiona interviews. Assessments may consist of some or all of the following: oral reading fluency, comprehension, writing and mathematics. Full acceptance is issued only after successful completion of the placement test and the interview.      	
                  </ul>
             
                  <ul>
                  	<li><b>Evaluation and Acceptance:</b></li>
                  	After our admissions, review team determines that an applicant will succeed at New World I-Scholars Academy. We will place a call to the parents/guardian. Some applicantsmay be accepted on a monitored or probationary basis and granted full admission upon successful completion of the conditions or provisions noted.           	
                  </ul>

                  <ul>
                  	<li><b>Admission Procedure:</b></li>
                  	<b>Process-</b>
                  	Applications for admission are accepted year-round. All of the documents you will need are available for download under <a href="{% static 'downloads/readme.pdf' %}" target="blank" title="Admission Form">Related Documents to Download Here</a>
                  	<ol>
                  		<li>Completely fill out the application form any required supplemental documents. The application form can be downloaded and printed in <i>PDF</i> or word format and filled out for submission. Completed applications can be emailed to <a href="mailto:info@newworldischolar.com?subject=Application Form" title="Mail to: Ischolar Academy">info@newworldischolar.com</a></li>
                  		<li>Gather school records and supplemental documemts as listed on the <a href="{% static 'downloads/readme.pdf' %}" target="blank" title="Supplemental Document">application checklist</a></li>
                  		<li>Pay the required application fee and attach bank payment receipt with your application documents.</li>
                  		*The application fee can be made in naira cash or wire transfer. <br> 
                  		<b>Please note:</b> The application fee is valid for one academic year only; the academic year must be stated at the time of application.
                  	</ol>
                  </ul>

                  <em><b>Please note application fee is non-refundable</b></em>

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}