{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="probootstrap-section probootstrap-bg-white">
      <div class="container">
        
        <div class="row">
          <div class="col-md-12">
            <div class="portfolio-feed three-cols">
              <div class="grid-sizer"></div>
              <div class="gutter-sizer"></div>
              <div class="probootstrap-gallery">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x667">
                  <img src="{% static 'images/assemblypic.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic1" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x632">
                  <img src="{% static 'images/labstu.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic2" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x632">
                  <img src="{% static 'images/bd1.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic3" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x632">
                  <img src="{% static 'images/bd2.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic4" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x667">
                  <img src="{% static 'images/propritress.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic5" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x632">
                  <img src="{% static 'images/nigchildren.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic6" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x632">
                  <img src="{% static 'images/assemblypic.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic7" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x632">
                  <img src="{% static 'images/pic3.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic8" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
                <a href="" itemprop="contentUrl" data-size="1000x667">
                  <img src="{% static 'images/swim1.jpeg' %}" style="height: 300px; width: 300px; border-radius: 30%;" itemprop="thumbnail" alt="pic9" />
                </a>
                <figcaption itemprop="caption description">Image caption here</figcaption>
              </figure>

              
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}