{% extends "base.html" %}
{% load static %}
{% block content %}

  <section class="probootstrap-section probootstrap-section-colored" style="background-color:#49D292 ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-left section-heading probootstrap-animate mb0">
          <h1 class="mb0">School Gallery</h1>
        </div>
      </div>
    </div>
  </section>

<section class="probootstrap-section probootstrap-bg-white">
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <div class="portfolio-feed three-cols">
          <div class="grid-sizer"></div>
          <div class="gutter-sizer"></div>
          <div class="probootstrap-gallery">
            {% for pic in gallery %}
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="grid-item probootstrap-animate">
            <a href="{{ pic.image.url }}" itemprop="contentUrl" data-size="1000x667">
              <img src="{{ pic.image.url }}" style="height:25rem; width:100%; border-radius:1rem;" itemprop="thumbnail" alt="school gallery" />
            </a>
            <figcaption itemprop="caption description">Caption Here</figcaption>
          </figure>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}